/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
	border: 1px solid #000;
	font-size: 12px;
	color: #000;
	cursor: default;
	font-family: "trebuchet ms",verdana,tahoma,sans-serif;
	background-color: #F0F0F0;
}

.calendar {
	border-top-color: #336699;
	border-right-color: #336699;
	border-bottom-color: #336699;
	border-left-color: #336699;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	padding: 2px;
	color: #FFFFFF;
	font-weight: bolder;
	background-position: 0 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif, "Trebuchet MS";
}

.calendar .nav {
	background-color: #336699;
	background-image: url(menuarrow2.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.calendar thead .title { /* This shows the current "month, year" */
	font-weight: bold;      /* Pressing it will allow you move the calendar window */
	text-align: center;
	color: #fff;
	padding: 2px;
	background-color: #336699;
}

.calendar thead tr { /* Row <TR> containing today [x] and [?] buttons */
	color: #fff;
	background-color: #336699;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #C7E1F3;
}

.calendar thead .name { /* Cells <TD> containing the day names */
	padding: 2px;
	text-align: center;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #FF6633;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #3399FF;
  color: #000;
  border: 1px solid #016DC5;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #006AA9;
  border: 1px solid #008AFF;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #336699;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}

.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #000;
	background-color: #0099FF;
}

.calendar tbody .rowhilite td {
	background-color: #99CCFF;
}

.calendar tbody .rowhilite td.wn {
  background: #F0F0F0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #8FC4E8;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #FF6633;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #FF3333;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	color: #fff;
	background-color: #336699;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	color: #fff;
	border-top: 1px solid #206A9B;
	padding: 1px;
	background-color: #336699;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #B8DAF0;
  border: 1px solid #178AEB;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	padding: 2px 0px 0px 2px;
	background-color: #336699;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	color: #fff;
	font-size: 90%;
	z-index: 100;
	background-color: #336699;
	font-weight: lighter;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
	border-top: 1px solid #46a;
	border-bottom: 1px solid #46a;
	color: #000;
	font-weight: bold;
	background-color: #3399FF;
}

.calendar .combo .active {
	border-top: 1px solid #46a;
	border-bottom: 1px solid #46a;
	color: #000;
	font-weight: bold;
	background-color: #F0F0F0;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #E3F0F9;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #F1F8FC;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #336699;
  color: #fff;
}

.calendar td.time span.active {
  border-color: red;
  background-color: #000;
  color: #A5FF00;
}
